.LoginFormContainer{
    display: flex;
    background-color:var(--white);
    border-radius: 1.5rem;
    width: 55%; 
    position: relative;
    justify-content: center;
    transform-style: preserve-3d;
    
}
.LoginFormContainer::after{
    content: "";
    position: absolute;
    top:10px;
    width: 99.5%; 
    height: 100%;
    border-radius: 1.5rem;
    background-color: var(--black);
    transform: translateZ(-1px);
    z-index: -1;
    filter:blur(0.7rem);
    opacity:35%;
}
.LoginFormStack{
    margin-top: 20px;
    row-gap: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}
.LoginFormBox{
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 8px;
}

.Typography{
    font-family: 'Josefin Slab';
    
}
.svgIcon{
    margin-bottom: 20px;
    filter: invert(50%) sepia(7%) saturate(58%) hue-rotate(278deg) brightness(86%) contrast(87%);
}

